body {
  background-color: #f2f2f2;
}
.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Parâmetros para a seção de cabeçalho */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  left: 64px;
  margin-left: 64px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  top: 700px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
}
/* Aqui temos dois exemplos de seletores para lembrá-lo de como 
configurar estilos para elementos*/
.header__square {
  height: 56evn8px;
  width: 568px;
  background-image: url(../images/square.png);
  background-size: cover;
  top: 64px;
  position: absolute;
  right: 0px;
  z-index: -2;
}

.two-columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  min-width: 784px;
  margin-top: 100px;
}
/* .two-columns__main-text {
} */
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin-left: 64px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 30px;
  margin: 30px;
}
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

/*incluindo elementos com modificadores de valor-chave */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
