.page {
  min-width: 1100px;
  max-width: 1600px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* Parâmetros para a seção de cabeçalho */
}

.logo_place_header {
  width: 154px;
  height: 31px;
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  left: 64px;
  margin-left: 64px;
  z-index: 2;
  display: flex;
}
.header__subtitle {
  width: 388px;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
}
.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 756px;
  height: 608px;
}
/* Aqui temos dois exemplos de seletores para lembrá-lo de como 
configurar estilos para elementos*/
.header__square-pic {
  height: 568px;
  width: 568px;
  background-image: url(../images/square.png);
  top: 64px;
}

/*incluindo elementos com modificadores de valor-chave */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
